<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello~~</title>
    <script text="text/javascript" src="/static/js/d3.min.js"></script>
</head>
<body>
<p>Apple</p>
<p>Banana</p>
<p>Cherry</p>
<input type="button" value="change"/>
<input type="button" id='bigger' value="bigger"/>
<script>
    d3.select('input').on('click', function(){
        var data = ['1', '2', '3'];
        var p = d3.selectAll('p')
        p.data(data).text(function(d,i){
            return d;
        })
    });

    d3.select('#bigger').on('click', function(){
        var p = d3.selectAll('p');
        current_size = p.style('font-size');
        current_size_int = parseInt(current_size.replace('px', ''));
        if (current_size_int < 1000){
            new_size = current_size_int * 2 + 'px'
            p.style('font-size', new_size);
        }
    });
</script>
</body>
</html>