<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Profit Trend</title>
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
</head>
<body>
    <div id="criteria_div">
        <form id="criteria_form" name="criteria_form" method="post">
            <table>
                <tr>
                    <td>From: </td>
                    <td><input id="date_from" type="text"/></td>
                </tr>
                <tr>
                    <td>To: </td>
                    <td><input id="date_to" type="text"/></td>
                </tr>
                <tr>
                    <td>Stock Code: </td>
                    <td><input id="stock_code" type="text"/></td>
                </tr>
            </table>
            <input type="button" value="Search" id="search_button">
        </form>
    </div>
    <div id="result_div" style="margin-left:auto; margin-right: auto; width: 90%; min-width: 600px; min-height: 400px;">
    </div>

    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/customized/stock_profits.js"></script>
</body>
</html>