<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="content">
        <p></p>
    </div>
    <script type="text/javascript" src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        document.writeln("navigator.userAgent: " + navigator.userAgent + "<br />");
        document.writeln("navigator.appName: " + navigator.appName + "<br />");
        document.writeln("navigator.appCodeName: " + navigator.appCodeName + "<br />");
        document.writeln("navigator.appVersion: " + navigator.appVersion + "<br />");
        document.writeln("navigator.appMinorVersion: " + navigator.appMinorVersion + "<br />");
        document.writeln("navigator.platform: " + navigator.platform + "<br />");
        document.writeln("navigator.cookieEnabled: " + navigator.cookieEnabled + "<br />");
        document.writeln("navigator.onLine: " + navigator.onLine + "<br />");
        document.writeln("navigator.userLanguage: " + navigator.userLanguage + "<br />");
        document.writeln("navigator.mimeTypes[1].description: " + navigator.mimeTypes[1].description + "<br />");
        document.writeln("navigator.mimeTypes[1].type: " + navigator.mimeTypes[1].type + "<br />");
        document.writeln("navigator.plugins[3].description: " + navigator.plugins[3].description + "<br />");
        document.writeln("当前窗口可视区域高度是: " + $(window).height() + "<br />");
        document.writeln("当前窗口文档的高度是: " + $(document).height() + "<br />");
        document.writeln("浏览器当前窗口文档body的高度是: " + $(document.body).height() + "<br />");
        document.writeln("浏览器当前窗口文档body的总高度是: " + $(document.body).outerHeight(true) + "<br />");
        document.writeln("浏览器当前窗口可视区域宽度是: " + $(window).width() + "<br />");
        document.writeln("浏览器当前窗口文档对象宽度是: " + $(document).width() + "<br />");
        document.writeln("浏览器当前窗口文档body的高度是: " + $(document.body).width() + "<br />");
        document.writeln("浏览器当前窗口文档body的总宽度是: " + $(document.body).outerWidth(true) + "<br />");
    </script>
</body>
</html>